{% load static %}

<!DOCTYPE html>
<html lang = "en">

    <head>
        <!-- Bootstrap -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <!-- My CSS -->
        <link rel="stylesheet" type="text/css" href="{% static 'cipher/style.css' %}">
        <!-- Bootstrap -->
        <link rel="stylesheet" href="path/to/bootstrap.min.css">

        <!-- Google Fonts  -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Zilla+Slab:ital,wght@0,300;0,500;0,600;1,400&display=swap" rel="stylesheet">
        
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        
        <!-- needs to have dynamic text -->   
        <title>S-DES Encryption</title>
    </head>
    <body>

        <div class = "navigation">
                <!-- show drop down list of all cipher links -->
                <li class="dropdown">
                    <a class = "nav-link" href = "#">Ciphers</a>
                    <ul class="dropdown-content">
                        <li><a class = "nav-link-dropdown" href="#">S-DES</a></li>
                        <li><a class = "nav-link-dropdown" href="#">Diffie-Helman</a></li>
                        <li><a class = "nav-link-dropdown" href="#">RSA</a></li>
                    </ul>
                </li>
            <li><a class = "nav-link" href = "#">Contact</a></li>
        </div>

        <div id = "main-container">
            <h1>ciphernator</h1>
            <!-- needs to have dynamic text -->
                <div class="row">
                    <!-- <div class = "col"> -->
                        <label id = "cipherTypeLbl" for = "cipherType">Simplified Data Encryption Standard (S-DES)</label>
                    <!-- </div> -->
                </div>
                
                
          
            <!-- <p>Please enter a 10-bit key and 8-bit plaintext to begin</p> -->


            <div class="tab">
                <button name = "cipherButton" value = "encryption" type="button" class="btn btn-outline-primary btn-lg tablinks encrypt-button" onclick="showForm('encryption')">Encryption</button>
                <button name = "cipherButton" value = "decryption" type="button" class="btn btn-outline-primary btn-lg tablinks decrypt-button" onclick="showForm('decryption')">Decryption</button>
            </div>
               <div id="encryption-form-placeholder">
                <form method="post" id = "form" action="?form=encryption">
                    {% csrf_token %}

                    <!-- <div class = "row selectBox"> -->
                        <!-- <div class = "col"> -->
                            <!-- <div id = "custom-select"> -->
                                <!-- <select name = "cipherType" id = "cipherType" onchange="showForm()">
                                    <option value="" disabled selected>Select an option</option>
                                    <option id = "cipherTypes" value="encryption">Encryption</option>
                                    <option id = "cipherTypes" value="decryption">Decryption</option>
                                </select> -->
                                <!-- display triangle symbol -->
                                <!-- <button class="triangle-button" id = "select-button">&#9660;</button> -->
                            <!-- </div> -->
                        <!-- </div> -->
                    <!-- </div> -->

                    
                <div class = "flex-container">
                    
                    <div class="row field">
                        <div class = "col-sm-3 lbl">
                            <label for="{{ encryption_form.plaintext.id_for_label }}">8-Bit Plaintext</label>
                        </div>
                        <div class = "col-sm-3 field">
                            {{ encryption_form.plaintext }}
                        </div>
                    </div>
                    
                    <div class="row field">
                        <div class = "col-sm-3 lbl">
                            <label for="{{ encryption_form.key.id_for_label }}">10-Bit Key</label>
                        </div>
                        <div class = "col-sm-3 field">
                            {{ encryption_form.key }}
                        </div>
                    </div>
                </div>
                <input type="hidden" name="form_id" value="encryption" placeholder="encryption">

                <button type="submit" id = "submitBtn" type="button" class="btn btn-primary submitBtn btn-lg encryptSubmit" onclick="showForm('encryption')">Encrypt</button>
                </form>
                </div>
                <!-- Decryption form -->
                <div id="decryption-form-placeholder">
                <form method="post" id = "form"  action="?form=decryption">
                {% csrf_token %}
                
                <!-- <div class = "row">
                    <div class = "col">
                         -->

                        <!-- <div id = "custom-select"> -->
                            <!-- <select name = "cipherType" id = "cipherType">
                                <option value="" disabled selected>Select an option</option>
                                <option id = "cipherTypes" value="encryption">Encryption</option>
                                <option id = "cipherTypes" value="decryption">Decryption</option>
                            </select> -->

                            <!-- display triangle symbol -->
                            <!-- <button class="triangle-button" id = "select-button">&#9660;</button> -->
                        <!-- </div> -->
                    <!-- </div>
                </div> -->

                <div class = "flex-container">
                    <div class="row field">
                        <div class = "col-sm-3 lbl">
                            <label for="{{ decryption_form.ciphertext.id_for_label }}">8-Bit Ciphertext</label>
                        </div>
                        <div class = "col-sm-3 field">
                            {{ decryption_form.ciphertext }}
                        </div>
                    </div>
                    
                    <div class="row field">
                        <div class = "col-sm-3 lbl">
                            <label for="{{ decryption_form.key.id_for_label }}">10-Bit Key</label>
                        </div>
                        <div class = "col-sm-3 field">
                            {{ decryption_form.key }}
                        </div>
                    </div>
                </div>
                <!-- <input value = "chosenCipher">decryption</p> -->
                <input type="hidden" name="form_id" value="decryption" placeholder="decryption">

                <button type="submit" id = "submitBtn" type="button" class="btn btn-primary submitBtn btn-lg decryptSubmit" onclick="showForm('decryption')">Decrypt</button>
             </form>
            </div>
                <!-- needs to have dynamic text -->
                
            </form>
            <div id = "results-container" style="display: block;">
            <!-- Only show when form submitted -->

                <h2>Plaintext</h2>
                <p>{{ plaintext }}</p> 

                <h2>Key 1</h2>
                <p>{{ k1 }}</p>

                <h2>Key 2</h2>
                <p>{{ k2 }}</p> 

                <h2>Ciphertext</h2>
                <p>{{ ciphertext }}</p> 

                <h2>Input Key</h2>
                <p>{{ key }}</p> 


                
                {% if encryption_form.is_encryption_form %}
                <p>encryption</p>
                <!-- <h2>Ciphertext</h2>
                <p>{{ ciphertext }}</p> -->
                {% elif decryption_form.is_decryption_form %}
                <p>decryption</p>
                {% endif %}
            </div>

    
            <!-- My JS -->
            <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
            <script src="{% static 'cipher/script.js' %}"></script>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3B1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


    </body>

</html>