/* Define colours */
:root {
    /* light blue */
    --lightaccent: #bfb2ff;
    /* dark blue */
    --darkaccent: #7E69E3;
    /* dark grey */
    --background: #121212;
    /* darker grey */
    --darkgrey: #0c0c0c;
    /* bright white */
    --bigtext: rgb(255, 255, 255, 0.95);
    /* medium white */
    --midtext: rgb(255, 255, 255, 0.80);
    /* dim white */
    --smalltext: rgb(255, 255, 255, 0.60);
  }

body {
    background-color: var(--background);
    /* font-size: 13px; */
    color: var(--midtext);
}

/* Navigation bar */
.navigation {
    top: 0px;
    left: 0px; 
    width: 100%;
    /* stick to top of screen */
      position: fixed;
      background-color: var(--background);
    /* appear in front of content */
      z-index: 1;
    /* box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3); */
  }
  
  /* Navigation links */
  .nav-link {
    text-align: center;
    padding: 10px;
    padding-right: 25px;
    color: var(--midtext);
    font-family: 'Zilla Slab', serif;
    font-size: 1.5em;
    font-weight: 500;
    display: inline-block;
    text-decoration: none;
  }
  
  .nav-link:hover {
    color: var(--lightaccent);
    transition-duration: 0.35s;
  }

  /* Main content */
  #main-container { 
    width: 60%;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    position: relative;
  }

  /* Font */

  h1 {
    font-family: 'Abril Fatface', serif;
    color: var(--lightaccent);
    font-size: 5em;
  }

  h2
  { 
    font-family: 'Zilla Slab', serif;
    color: var(--midtext);
    font-size: 1.7em;
  }

  p {
    font-family: 'Zilla Slab', serif;
    color: var(--midtext);
    font-size: 1.2em;
  }

  .submitBtn {
    background-color: var(--lightaccent);
    color: var(--background);
    border: none;
    border-radius: 10px;
    padding: 10px;
    font-size: 1.3em;
    font-weight: 500;
    font-family: 'Zilla Slab', serif;
    width: 125px;
    cursor: pointer;
  }

  .submitBtn:hover {
    background-color: var(--darkaccent);
    transition-duration: 0.35s;
  }

  .submitBtn:focus, .submitBtn:active {
    background-color: var(--darkaccent);
  }

  form {
    margin-top: 30px;
    margin-bottom: 50px;
  }

  .cipherInput {
    font-size: 1.2em;
    /* height: 30px; */
    width: 150px;
    background-color: var(--darkgrey);
    color: var(--midtext);
    border-radius: 10%;
    border: 2px solid white;
    padding: 5px;
  }

  label {
    font-size: 1.2em;
    font-family: 'Zilla Slab', serif;
    padding: 10px;
  }

  .triangle-button {
    position: relative;
    background-color: var(--background); 
    /* Background color of the button */
    color: #fff; /* Text color */
    border: none;
    padding: 10px 35px; /* Adjust padding as needed */
    font-size: 16px; /* Adjust font size as needed */
    cursor: pointer;
}

.custom-select {
  position: relative;
  display: inline-block;
}

select {
  appearance: none;
  text-align: center;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 110%;
}

#select-button {
  position: absolute;
  top: -3px;
  right: -40px;
  background: transparent;
  border: none;
  cursor: pointer;
}


label[for="cipherType"] {
  font-family: 'Zilla Slab', serif;
  color: var(--midtext);
  font-size: 1.3em;
  padding: 10px;
}

select[id="cipherType"] {
  font-family: 'Zilla Slab', serif;
  font-weight: 500;
  background-color: var(--darkgrey);
  color: var(--midtext);
  font-size: 1.3em;
  padding: 8px;
  border-radius: 10%;
  border: 2px solid white;
  /* text-align: center; */
  cursor: pointer;
}
.cipherInput {
  font-size: 1.2em;
  font-weight: 500;
}
.cipherInput:focus, select:focus {
  transition-duration: 0.25s;
  border: 2px solid var(--lightaccent);
}

.triangle-button {
  background-color: transparent; /* Background color of the button */
  color: var(--lightaccent); /* Text color */
  border: none;
  font-size: 25px; /* Adjust font size as needed */
  cursor: pointer;
}

.triangle-button:hover {
  transition-duration: 0.35s;
  color: var(--darkaccent);
}

#select-container {
  display: flex;
  text-align: center;
  position: absolute; /* Position the inner container */
  /* transform: translate(-50%, -50%);  */
  align-items: center;
}

#select-field {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}



.row {
  display: block;
  justify-content: center;
  text-align: center;
}

.col-sm-2, .col, .col-sm-3, .col-sm-4 {
  display: inline-block
}

.col-sm-3.lbl {
  justify-content: right;
  text-align: right;
}
.col {
  width: 175px;
}

.col-sm-3.field {
  justify-content: left;
  text-align: left;
}

.row.field {
  margin-bottom: 10px;
}